@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #d6d6d6;
    width: 100%;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url(assets/wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

header{
    padding: 1em;
    background-color: #fff;
}

header .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.nav img{
    height: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    padding: 5px;
}

.nav a{
    color: rgb(56, 56, 56);
    margin: 0px 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 3px solid #fff;
    transition: 0.2s;
    border-radius: 2px;
}

.nav a:hover{
    border-bottom: 3px solid rgb(56, 56, 56);
}

.active{
    border-bottom: 3px solid rgb(56, 56, 56) !important;
}

.conteudo{
    margin: 3em;
}

.conteudo .title{
    display: flex;
    flex-direction: column;
    margin: 3em 0em;
}

.conteudo h1{
    text-align: start;
    color: #fff;
}