#clients-list {
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}
  
.client {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    background: #ffffff41;
    /* box-shadow: 20px 20px 60px #7a7a7a4d, -20px -20px 60px #c5c5c536; */
    margin: 1em 0em;
    padding: 1em 2em;
    font-size: 16px;
    color: #ffffff;
    backdrop-filter: blur(20px);

    .index{
        font-size: 25px;
        font-weight: 900;
    }
    .name{
        font-weight: 600;
        font-size: 20px;
    }
    .info{
        width: 100%;
    }
    .actions i{
        font-size: 23px;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 12px;
        text-align: center;
        transition: 0.1s;
    }
    .actions i:hover{
        background-color: #49494938;
    }
}

.client p + p{
    margin-top: 0.3rem;
}

.actions .popover{
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    padding: 1.5em;
}